# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.env.*
!.env.example
!.env.production.example

# Database
*.db
*.sqlite

# Logs
*.log
*.err

# Node
node_modules/
.next/
.next

# Docker
docker-compose.override.yml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
